{
    "root": true,
    "extends": [
        "eslint:recommended",
        "plugin:react/recommended",
        "plugin:react-hooks/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "plugin:jsdoc/recommended",
        "plugin:prettier/recommended"
    ],
    "plugins": [
        "react",
        "react-hooks",
        "@typescript-eslint",
        "jsdoc",
        "markdown",
        "prettier"
    ],
    "parserOptions": {
        "project": "./tsconfig.json"
    },
    "parser": "@typescript-eslint/parser",
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "tabWidth": 4,
                "semi": true,
                "singleQuote": true,
                "bracketSameLine": false,
                "singleAttributePerLine": true
            }
        ]
    }
}
